<h1>Hi, Sarita</h1>

<h1>Total Income: <%= number_to_currency(@total_income, unit: '₹', precision: 2) %></h1>
<h1>Total Expense: <%= number_to_currency(@total_expense, unit: '₹', precision: 2) %></h1>
<h1>Avalable Balance: <%= number_to_currency(@avl_balance, unit: '₹', precision: 2) %></h1>