
<h1>Total Income: <%= number_to_currency(@total_income, unit: '₹', precision: 2) %></h1>


<!-- Render individual income records -->
<% @incomes.each do |income| %>
  <!-- Render each income record -->
<% end %>
